body{
	overflow: hidden;
}

.cover {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1000;
}

.messagebox {
	width: 400px;
	height: 200px;
	opacity: 1 !important;
	background-color: #FFFFFF;
	position: absolute;
	left: 50%;
	margin-left:-200px;
	margin-top:-100px;
	top: 50%;
	bottom: 50%;	
}

.message-title {
	opacity: 1;
	text-align: center;
	font-family:"Lucida Console";
	font-size:20px;
	color:#000000;
}

.message-content {
	opacity: 1;
	font-family:"Lucida Console";
	color:#000000;
	margin: 12px;
}

.twox {
	transform: scale(2, 2);
	-ms-transform: scale(2, 2);
	-webkit-transform: scale(2, 2);
}

.button {
	opacity: 1;
	color: blue;
}

.hidden {
	display: none;
}